---
layout: default.liquid
---
<address>
{%- for data in contact %}
{{ data.type }}: <a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{% endfor -%}
</address>

<address class="links">
{%- for data in links %}
<a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{%- unless forloop.last %} | {% endunless -%}
{% endfor -%}
</address>

{{ content }}

{% if collections.tech %}
<h2>Posts</h2>
 {% for post in collections.tech -%}
 <h3>
  <a href="{{ post.url }}">{{ post.data.title }}
  </a>
 </h3>
  <p class="description">
  {%- if post.data.tagline %}{{ post.data.tagline }} &mdash;{%- endif %}
    {{ post.date | date: "%d %B %Y" }} </p>
  <p> {{ post.rawInput | split: "\n\n" | first }} </p>
 {%- endfor %}
{% endif %}
