---
layout: default.liquid
---
<address>
{%- for data in contact %}
{{ data.type }}: <a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{% endfor -%}
</address>

<address class="links">
{%- for data in links %}
<a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{%- unless forloop.last %} | {% endunless -%}
{% endfor -%}
</address>

{{ content }}
