---
layout: default
---

<p class="description">Posted on {{ page.date | date: "%d %B %Y" }}
{% if author and author_link -%}
by <a href="{{ author_link }}">{{ author }}</a>
{%- endif -%}
.</p>

{% assign paragraphs = page.rawInput | split: "\n\n" %}

<p class="abstract">
{{ paragraphs | first }}
</p>

{{ content | split: "</p>" | shift  }}
